#shhhh { 
    background-color: #426C99;
    color: #fff;
}

#mhmmmm { 
    background-color: #FFADA9;
    color: #fff;
}

#darkBlue { 
    background-color: #0D3556;
    color: #fff;
}

#dreamin { 
    background-color: #7A1941;
    color: #fff;
}

#mutedYe { 
    background-color: #ADB7C1;
    color: #fff;
}

#mellows { 
    background-color: #DB413F;
    color: #fff;
}

#feels { 
    background-color: #E7D4FF;
    color: #000;
}

#terminallyChill { 
    background-color: #154A25;
    color: #fff;
}

#steadied { 
    background-color: #FFFCE9;
    color: #000;
}

#schemin { 
    background-color: #340054;
    color: #fff;
}

#elevated { 
    background-color: #FFE766;
    color: #fff;
}

#groovin { 
    background-color: #2C2A2D;
    color: #fff;
}

#vibesForWeeks { 
    background-color: #F9FA57;
    color: #000;
}

#stirThePot { 
    background-color: #71777F;
    color: #fff;
}

#upAndAway { 
    background-color: #EA4900;
    color: #fff;
}

#blurred { 
    background-color: #AEB88D;
    color: #fff;
}

#headDancin { 
    background-color: #76FFCB;
    color: #000;
}

#twistTheKnife { 
    background-color: #CC1500;
    color: #fff;
}

#wooooo { 
    background-color: #FF0086;
    color: #fff;
}