
.shhhh { 
    background-image: url(svgs/shhhh.svg);
    color: #fff;
    transition: .3s ease-in-out;

}

.mhmmmm { 
    background-image: url(svgs/mhmmmm.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.darkBlue { 
    background-image: url(svgs/darkBlue.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.dreamin { 
    background-image: url(svgs/dreamin.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.mutedYe { 
    background-image: url(svgs/mutedYe.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.mellows { 
    background-image: url(svgs/mellows.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.feels { 
    background-image: url(svgs/feels.svg);
    color: #000;
    transition: .3s ease-in-out;
}

.terminallyChill { 
    background-image: url(svgs/terminallyChill.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.steadied { 
    background-image: url(svgs/steadied.svg);
    color: #000;
    transition: .3s ease-in-out;
}

.schemin { 
    background: url(svgs/schemin.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.elevated { 
    background: url(svgs/elevated.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.groovin { 
    background-image: url(svgs/groovin.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.vibesForWeeks { 
    background-image: url(svgs/vibesForWeeks.svg);
    background-size: cover;
    color: #000;
    transition: .3s ease-in-out;
}

.stirThePot { 
    background-image: url(svgs/stirThePot.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.upAndAway { 
    background-image: url(svgs/upAndAway.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.blurred { 
    background-image: url(svgs/blurred.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.headDancin { 
    background-image: url(svgs/headDancin.svg);
    background: fill;
    color: #000;
    transition: .3s ease-in-out;
}

.twistTheKnife { 
    background-image: url(svgs/twistTheKnife.svg);
    color: #fff;
    transition: .3s ease-in-out;
}

.wooooo { 
    background-image: url(svgs/wooooo.svg);
    color: #fff;
    transition: .3s ease-in-out;
}
