
.shhhh { 
    background-color: #426C99;
    color: #fff;
    transition: .3s ease-in-out;

}

.mhmmmm { 
    background-color: #FFADA9;
    color: #fff;
    transition: .3s ease-in-out;
}

.darkBlue { 
    background-color: #0D3556;
    color: #fff;
    transition: .3s ease-in-out;
}

.dreamin { 
    background-color: #7A1941;
    color: #fff;
    transition: .3s ease-in-out;
}

.mutedYe { 
    background-color: #ADB7C1;
    color: #fff;
    transition: .3s ease-in-out;
}

.mellows { 
    background-color: #DB413F; 
    color: #fff;
    transition: .3s ease-in-out;
}

.feels { 
    background-color: #E7D4FF;
    color: #000;
    transition: .3s ease-in-out;
}

.terminallyChill { 
    background-color: #154A25;
    color: #fff;
    transition: .3s ease-in-out;
}

.steadied { 
    background-color: #FFFCE9;
    color: #000;
    transition: .3s ease-in-out;
}

.schemin { 
    background-color: #340054;
    color: #fff;
    transition: .3s ease-in-out;
}

.elevated { 
    background-color: #FFE766;
    color: #fff;
    transition: .3s ease-in-out;
}

.groovin { 
    background-color: #2C2A2D;
    color: #fff;
    transition: .3s ease-in-out;
}

.vibesForWeeks { 
    background-color: #F9FA57;
    background-size: cover;
    color: #000;
    transition: .3s ease-in-out;
}

.stirThePot { 
    background-color: #71777F;
    color: #fff;
    transition: .3s ease-in-out;
}

.upAndAway { 
    background-color: #EA4900;
    color: #fff;
    transition: .3s ease-in-out;
}

.blurred { 
    background-color: #AEB88D;
    color: #fff;
    transition: .3s ease-in-out;
}

.headDancin { 
    background-color: #76FFCB;
    background: fill;
    color: #000;
    transition: .3s ease-in-out;
}

.twistTheKnife { 
    background-color: #CC1500;
    color: #fff;
    transition: .3s ease-in-out;
}

.wooooo { 
    background-color: #FF0086;
    color: #fff;
    transition: .3s ease-in-out;
}
