body {
	background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #7ACA79;
}

#main {
    width: 30%;
    height: 50%;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    margin: auto; /*centers element*/
    text-align: center;
    border: 5px solid white;
}

#second {
    
}

#second {
    width: 100%; height: 100%;
    /*background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #7ACA79 50%, black 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;*/
}

#second:hover {
    background-position: 0 -100%;
}




h1 {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    text-align: center;
    transition: all .5s .05s ease;
    letter-spacing: 2px;
    perspective: 700px;
}

h1:hover {
    letter-spacing: 10px;
}

p {
    font-family: 'ABeeZee';
    font-variant: small-caps;
}


.buttons {
    width: 20%;
    text-align: center;
    margin: auto;
    padding: 1em;
    font-family: 'playfair display', serif;
    align-items: center;
}

#plus, #minus {
    height: 2.5em;
    width: 8em;
    border-radius: 3px;
    background-color: #474747;
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center; 
    border: 0px;
    transition: box-shadow .5s ease;
    margin-bottom: 1em;
    
    transition: all .3s .05s ease-in-out;
    

}
#plus:hover, #minus:hover {
    letter-spacing: 5px;
    background-color: #63f9a4;
    color: #000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
    font-weight: bolder;
    font-variant: small-caps;

    
}

#spotify {
    height: 2.5em;
    width: 8em;
    border-radius: 3px;
    background-color: #474747;
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center; 
    border: 0px;
    transition: box-shadow .5s ease;
    margin-top: 2em;
    
    transition: all .3s .05s ease-in-out;
    
}

#spotify:hover {
    background-color: #63f9a4;
    color: #000;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
    font-weight: bolder;
    font-variant: small-caps;
}

button:active {
    transform: scale(.97);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
}

#Layer_1 {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10;
    animation: background 40s infinite ease-in-out;
    
}

@keyframes background {
    0% {transform:translateY(-900px);}
    50% {transform:translateY(-500px);}
    100% {transform:translateY(-900px);}
    
}
